body {
	border-top: solid 1px #8e8e8e;
}

.app-navbar {
	position: fixed;
	height: 100%;
	border-right: solid 1px #8e8e8e;
	background-color: #dedede;
	width: 160px;
}

.nav-pills .nav-link {
	border-radius: 0;
}

.main-container {
	margin-left: 160px;
	padding-top: 15px;
}